/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: white;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

nav {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  font-family: "Poppins", sans-serif;
  position: fixed;
  z-index: 100;
}

.logo {
  color: rgb(230, 230, 230);
  letter-spacing: 1px;
  font-size: 30px;
}

.nav-items {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.nav-items a {
  display: block;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 14px;
}

.nav-items a:hover {
  color: #7ab977;
  transition: 0.3s;
}

.burger {
  display: none;
  cursor: pointer;
  margin-right: 30px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.main {
  min-height: 760px;
  position: relative;
}

.main-img {
  background-image: url(images/iceland-2111811_640.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  min-height: 690px;
  z-index: 80;
  position: absolute;
  top: 0;
  left: 0;
}

.main-block {
  width: 50%;
  min-height: 760px;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
}

.main-text {
  color: white;
  position: absolute;
  top: 23%;
  right: 17%;
  z-index: 90;
}

.main-text p {
  line-height: 25px;
  font-size: 18px;
  font-weight: bolder;
}

.main-text h4 {
  line-height: 130px;
  font-size: 130px;
  font-family: "Bebas Neue", cursive;
  letter-spacing: 10px;
}

.about {
  height: 520px;
  padding-top: 100px;
}

.container {
  width: 77%;
  margin: 0 auto;
}

.about-items {
  position: relative;
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: url(images/iceland-2111811_640.jpg);
}

.about-text {
  position: absolute;
  top: 100px;
  left: 50px;
  height: 400px;
  width: 55%;
  background-color: rgba(255, 255, 255, 0.9);
}

.about-text h4 {
  padding: 50px 0px 50px 30px;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
}

.about-text p {
  padding-left: 30px;
  line-height: 30px;
  letter-spacing: 1px;
}

.icon {
  padding: 20px 0px 0px 35px;
  width: 27%;
  display: flex;
  justify-content: space-between;
}

.fab {
  font-size: 35px;
  color: rgba(0, 0, 0, 0.8);
}

.fab:hover {
  color: #7ab977;
  transition: 0.3s;
}

.circle {
  width: 30%;
  height: 300px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 150px;
  right: 50px;
}

.content {
  height: 740px;
  background-color: rgba(230, 230, 230, 0.7);
}

.items {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
}

.content-item {
  width: 48%;
}

.content-item h4 {
  padding-bottom: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
}

.content-item img {
  width: 100%;
}

.content-item p {
  padding-top: 20px;
  letter-spacing: 1px;
}

.content-item a {
  text-align: center;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  margin-top: 30px;
}

.content-item a:hover {
  background-color: rgba(230, 230, 230, 0.7);
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}

.topics {
  height: 520px;
}

.topics-items h4 {
  padding: 50px 0px 25px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.8);
}

.topics-item {
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.topic {
  padding-top: 35px;
}

.topic p {
  font-size: 13px;
  color: rgba(200, 200, 200, 1);
  font-weight: bold;
}

.topic h5 {
  border-bottom: 1px solid rgba(200, 200, 200, 1);
  padding: 15px 0px;
}

.topics-items a {
  text-align: center;
  width: 15%;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0 auto;
}

.topics-items a:hover {
  background-color: rgba(255, 255, 255);
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}

.contact {
  height: 540px;
  background-color: rgba(230, 230, 230, 0.7);
}

.contacts {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.contact-items {
  width: 46%;
}

.contact-items h4 {
  padding: 80px 0px 30px 0px;
  font-family: "Roboto", sans-serif;
  font-size: 35px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.contact-items p {
  letter-spacing: 1px;
  line-height: 30px;
}

.contact-items a {
  text-align: center;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.9);
  display: block;
  font-weight: bold;
  padding: 10px 15px;
  margin-top: 30px;
}

.contact-items a:hover {
  background-color: rgba(230, 230, 230, 0.7);
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}

.contacts img {
  width: 50%;
}

footer {
  min-height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
}

footer p {
  font-size: 14px;
  color: white;
  width: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }

  .logo {
    font-size: 25px;
    margin: 0 auto;
  }

  nav {
    background-color: rgb(0, 0, 0, 0.7);
  }

  .nav-items {
    position: absolute;
    right: 0px;
    top: 80px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
    align-items: center;
    width: 52%;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }

  .nav-items li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .main {
    min-height: 885px;
  }

  .main-img {
    width: 85%;
    min-height: 800px;
  }

  .main-block {
    width: 85%;
    min-height: 885px;
  }

  .main-text {
    top: 30%;
    right: 5%;
  }

  .main-text p {
    line-height: 20px;
    font-size: 14px;
  }

  .main-text h4 {
    line-height: 95px;
    font-size: 100px;
    font-family: "Bebas Neue", cursive;
    letter-spacing: 10px;
  }

  .about {
    height: 750px;
    padding-top: 80px;
  }

  .container {
    width: 100%;
  }

  .about-items {
    height: 750px;
    position: relative;
  }

  .about-text {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    height: 350px;
    width: 80%;
  }

  .about-text h4 {
    padding: 30px 0px 35px 30px;
  }

  .circle {
    width: 40%;
    height: 280px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }

  .content {
    min-height: 1220px;
  }

  .items {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }

  .content-item {
    padding-top: 50px;
    margin: 0 auto;
    width: 75%;
  }

  .content-item h4 {
    padding-bottom: 20px;
  }

  .content-item img {
    width: 100%;
  }

  .topics-items {
    margin: 0 auto;
    width: 75%;
  }

  .topics-item {
    width: 100%;
  }

  .topics-items a {
    width: 30%;
    padding: 10px 15px;
    margin-top: 15px;
  }

  .contact {
    height: 780px;
  }

  .contacts {
    display: flex;
    flex-direction: column-reverse;
    width: 75%;
    margin: 0 auto;
  }

  .contact-items {
    width: 100%;
  }

  .contact-items h4 {
    padding: 35px 0px 30px 0px;
    width: 100%;
  }

  .contact-items p {
    font-size: 14px;
  }

  .contacts img {
    width: 100%;
    margin: 0 auto;
  }

  footer {
    min-height: 40px;
    position: relative;
  }

  footer p {
    text-align: center;
    font-size: 12px;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}

@media screen and (max-width: 599px) {
  .logo {
    font-size: 18px;
  }

  nav {
    background-color: rgb(0, 0, 0, 0.9);
    min-height: 50px;
  }

  .nav-items {
    top: 50px;
    height: 350px;
    width: 50%;
  }

  .main-text {
    top: 25%;
    right: 5%;
  }

  .about {
    height: 780px;
    padding-top: 80px;
  }

  .about-items {
    height: 780px;
    position: relative;
  }

  .about-text {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    height: 340px;
    width: 80%;
  }

  .about-text h4 {
    font-size: 30px;
  }

  .about-text p {
    line-height: 25px;
    font-size: 11px;
  }

  .icon {
    padding-top: 25px;
    padding-left: 0px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .fab {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.8);
  }

  .circle {
    width: 80%;
    height: 280px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
  }

  .content {
    min-height: 880px;
  }

  .content-item {
    width: 90%;
  }

  .content-item h4 {
    font-size: 30px;
  }

  .content-item p {
    font-size: 14px;
  }

  .topics {
    height: 470px;
  }

  .topics-items {
    width: 90%;
  }

  .topics-items h4 {
    font-size: 30px;
  }

  .topic h5 {
    font-size: 10px;
  }

  .topics-items a {
    margin-top: 25px;
  }

  .contact {
    height: 620px;
  }

  .contacts {
    width: 90%;
    padding-top: 40px;
  }

  .contact-items {
    width: 100%;
  }

  .contact-items h4 {
    width: 90%;
    font-size: 30px;
  }

  .contact-items p {
    font-size: 14px;
    line-height: 30px;
  }

  .contact-items a {
    margin-top: 50px;
  }

  .contacts img {
    width: 100%;
  }

  footer {
    min-height: 30px;
    position: relative;
  }

  footer p {
    text-align: center;
    font-size: 11px;
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
  }
}

.nav-active {
  transform: translateX(0%);
}

/*nav-items li を順番に出していくアニメーションの基本設定*/
@keyframes navItemsFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
